.SideLayout {
  // 占满屏幕
  //height: calc(100vh);
  min-height: 704px;

  .logo {
    height: 32px;
    margin: 16px;
    text-align: center;
    line-height: 32px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    //background: rgba(255, 255, 255, 0.3);
    background: #EF4566;
  }

  .trigger {
    float: left;
    font-size: 18px;
    line-height: 48px;
    padding: 0 15px;
    cursor: pointer;
    transition: color 0.3s;
    color: rgba(0, 0, 0, 0.8);
  }

  .content {
    background: #fff;
    min-height: 675px;
    margin: 15px !important;;
    padding: 10px !important;
    //min-width: 1010px;
  }

  .ant-layout-header {
    height: 48px;
    line-height: 48px;
    background: #fff;
    //margin-top: 1px;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  .ant-layout-sider {
    min-height: 674px;
    //background: #001529;
    background: #fff;
  }


  // 管理者名称
  .user {
    float: right;
  }

}

